{
    "branches": [
        "develop"
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "conventionalcommits"
            }
        ],
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "conventionalcommits"
            }
        ],
        "@semantic-release/github",
        "@semantic-release/changelog",
        [
            "semantic-release-dotnet",
            {
                "paths": [
                    "Directory.Build.props"
                ],
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "Directory.Build.props",
                    "*.md",
                    "docs"
                ],
                "message": "chore: ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ]
    ]
}
